%h1 All TA Commitments
= link_to 'Go to All Meetings List', meetings_path

%div
  %h3 All TAs must take 5XX level or above level courses, and can only be assigned to courses of 4XX level below

%table#meetings
  %thead
    %tr
      %th Name
      %th Commitments (Courses Enrolled)
      %th Teachings
      %th More Operations
    %tbody
      - @tacommitments.each do |t|
        %tr
          %td= t.name
          %td= t.commitments
          %td= " "
          %td= link_to "More about #{t.name}", tacommitment_path(t)

= link_to 'Add new TA commitment', new_tacommitment_path

          